<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title>{% block title %}{% endblock title %}</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
  
    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="https://mdbgo.com/">
        <img
          src=""
          height="16"
          alt="Summarizer_logo"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
  
      <!-- Toggle button -->
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url "home" %}">Text Summarizer</a>
          </li>
        </ul>
        
      {% if user.is_authenticated %}
      <div class="d-flex align-items-center">
        <a href="">
          <button data-mdb-ripple-init type="button" class="btn me-3">
            User History
          </button>
        </a>
        <a href="{% url "signout" %}">
          <button data-mdb-ripple-init type="button" class="btn btn-danger me-3">
            Sign Out
          </button>
      </a>
      {% else %}
      <a href="{% url "signin" %}">
        <button data-mdb-ripple-init type="button" class="btn me-3">
            Sign In
          </button>
     </a>
     <a href="{% url "signup" %}">
      <button data-mdb-ripple-init type="button" class="btn btn-success me-3">
        Sign Up 
      </button>
    </a>

        {% endif %}
            
        
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  {% block content %}{% endblock content %}
    
</body>
</html>