{% extends "base.html" %}
{% block title %}Home | Text Summarizer{% endblock title %}
{% block content %}
<main>
    <h2 align="center">Summarize Text</h2>
    <form method="post">
        {% csrf_token %}
        <div class="d-flex gap-2 justify-content-center mt-3 w-100 align-items-center">
            <div class="d-flex gap-2 justify-content-center shadow-lg rounded">
                <div class="d-flex flex-column p-3">
                    <label for="texta">Enter Your Text</label>
                    <textarea rows="12" style="resize: none;" class="border-0" cols="50" id="texta" name="summary" placeholder="Enter or Paste your text here"></textarea>
                </div>
                <div class="border mx-2"></div>
                <div class="d-flex flex-column p-3">
                    <label for="textb">Generated Summary</label>
                    {% if summary %}
                    <textarea rows="12" style="resize: none;" class="border-0" cols="50" id="textb" readonly>{{ summary }}</textarea>
                    {% else %}
                    <textarea rows="12" style="resize: none;" class="border-0" cols="50" id="textb" disabled></textarea>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="m-3 w-100 d-flex justify-content-center">
            <button class="btn btn-success" type="submit">Summarize</button>
        </div>
       
    </form>
    {% if keywords %}
    <h2>Keywords:</h2>
    <ul>
        {% for keyword in keywords %}
            <li>{{ keyword }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if rouge_scores %}
    <h2>ROUGE Scores:</h2>
    <pre>{{ rouge_scores }}</pre>
{% endif %}
</main>
{% endblock content %}
