{% extends "base.html" %}
{% block title %}Home | Text Summarizer{% endblock title %}
{% block content %}
<main>
    <h2 align="center" class="fw-bold mt-3">Online Text Summarizing Tool</h2>
    {% if message %}
    <div class="alert alert-primary" role="alert">
       {{message}}
      </div>
    {% endif %}
    {% if error %}
    <div class="alert alert-primary" role="alert">
        {{error}}
       </div>
    {% endif %}
    
    <div class="mt-3 d-flex w-25 justify-content-center gap-2">
        <button class="btn btn-warning" id="copytext">Copy</button>
        <button class="btn btn-info" id="pastetext">Paste</button>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="d-flex gap-2 justify-content-center mt-3 w-100 align-items-center">
            <div class="d-flex gap-2 justify-content-center shadow-lg rounded">
                <div class="d-flex flex-column p-3">
                    <div class="d-flex justify-content-between align-items-end">
                        <label for="texta">Enter Your Text</label>
                        <div class="d-flex flex-column w-25">
                            <label for="rangeInput">No.of Sentences</label>
                            <div class="d-flex w-100">
                                <input type="range" id="rangeInput" class="w-100" name="rangeInput" min="3" max="8" {% if summary_num %} value="{{summary_num}}" {% else %}value="4"{% endif %}>
                                <span id="rangeValue">3</span>
                            </div>
                        </div>
                    </div>
                        
                    <textarea rows="12" style="resize: none;" class="border-0" cols="53" id="texta" name="summary" placeholder="Enter or Paste your text here">{% if text %}{{text}}{% endif %}</textarea>
                    
                    {% if length %}
                    <div class="d-flex w-100  align-items-center">
                        <div class="fw-bold">
                            {{length}} words
                        </div>
                    </div>
                   
                    {% endif %}
                </div>
                <div class="border mx-2"></div>
                <div class="d-flex flex-column p-3">
                    <label for="textb">Generated Summary</label>
                    {% if summary %}
                    <textarea rows="12" style="resize: none;" class="border-0" cols="53" id="textb" readonly>{{ summary }}</textarea>
                    {% if keywords %}
                    <div class="d-flex w-100  align-items-center">
                        <div class="">
                            <span class="fw-bold">Keywords:</span> 
                            {% for keyword in keywords %}
                            {{ keyword }},
                        {% endfor %}
                            etc.
                        </div>
                    </div>
                   
                    {% endif %}
                    {% if title %}
                    <div class="d-flex">

                        <span class="fw-bold">Title: </span>
                        <span> {{ title }}</span>
                    </div>
                    </div>
                    {% endif %}
                    {% else %}
                    <textarea rows="12" style="resize: none;" class="border-0" cols="50" id="textb" disabled></textarea>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="m-3 w-50 d-flex justify-content-end">
            <button class="btn btn-success" type="submit">Summarize</button>
        </div>
       
    </form>
</main>
<script>
    const copytext=document.getElementById('copytext');
    const pastetext=document.getElementById('pastetext');
    const inptext = document.getElementById('texta');

    pastetext.addEventListener('click',()=>{
        navigator.clipboard.readText().then(text => {
                inptext.value = text;
            }).catch(err => {
                console.error('Failed to read clipboard contents: ', err);
            });
    })
    copytext.addEventListener('click',()=>{
        inptext.select();
        document.execCommand('copy');
    })
    const rangeInput = document.getElementById('rangeInput');
    const rangeValue = document.getElementById('rangeValue');
    rangeValue.textContent=rangeInput.value;
    rangeInput.addEventListener('input', function() {
        rangeValue.textContent = rangeInput.value;
    });
</script>
{% endblock content %}
